<!Doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Politico</title>
    <link rel="stylesheet" href="static/style.css">
</head>

<body>
    <div class="content container">
        <div class="header row">
            <div class="banner">
                <h1 class="title">Politico</h1>
                <h2>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam atque, harum doloribus itaque et,
                    nam, est exercitationem repellat error laborum soluta rerum! Corporis quibusdam harum
                    necessitatibus
                    doloremque quo, distinctio reiciendis?</h2>
            </div>
        </div>
        <div class="body row">
            <div class="main-content col-8">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis reprehenderit veniam itaque a odit
                    cum
                    repellat officiis ea laudantium. Voluptas, vero officiis? Culpa magni quod expedita ut velit
                    nesciunt
                    eius?</p>
            </div>
            <div class="aside col-3 offset-1">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque enim rem, molestias aperiam quam
                    accusantium necessitatibus aliquid nulla eveniet reprehenderit eligendi ullam, autem debitis nam
                    nemo
                    expedita iusto. Sunt, quisquam!</p>
            </div>
        </div>
        <div class="footer row">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum deserunt et rem, aperiam laborum alias
                nobis possimus optio impedit reprehenderit voluptates inventore, aut fugiat totam necessitatibus ab
                quae, unde dolore.</p>
        </div>
    </div>
</body>

</html>