<!Doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Politico</title>
    <link rel="stylesheet" href="static/style.css">
</head>

<body>
    <div class="content">
        <section class="main-content">
            <form action="#" method="POST">
                <div>
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username">
                </div>
                <div>
                    <label for="password">Password</label>
                    <input type="text" id="password" name="password">
                </div>
                <button type="submit">Sign in</button>
            </form>
        </section>
        <div class="aside">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati quas reprehenderit nulla
                repellendus, voluptatibus ullam quis eos facilis corrupti iure excepturi est ipsam molestiae mollitia!
                Nisi sequi possimus itaque voluptatem!</p>
        </div>
        <div class="footer">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi cumque delectus sint sit deserunt
                dignissimos reprehenderit nemo, dolor corporis odio? Deserunt, provident error! Doloribus nisi vel
                voluptatum labore reprehenderit eveniet.</p>
        </div>
    </div>
</body>

</html>