<!Doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Politico | Sign In</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>

<body>
    <div class="content">
        <header>
            <nav class="main-nav">
                <div class="logo"><a href="#">Politico</a></div>
                <ul class="nav-items">
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#">About</a>
                    </li>
                </ul>
                <ul class="signups">
                    <li>
                        <a href="#" class='btn-signup'> Sign Up</a>
                    </li>
                </ul>
            </nav>
        </header>
        <div class="main-content">
            <form action="#" method="POST" class="login-form">
                <div>
                    <h2 class="login-title">Enter Political Office Details</h2>
                </div>
                <div>
                    <label for="officeName">Office Name</label>
                    <input type="text" id="officeName" name="officeName">
                </div>
                <div>
                    <label for="age">Minimum Age Requirement</label>
                    <input type="text" id="age" name="age">
                </div>
                <div>
                    <label for="noOfContestantsPerParty">Enter the number of contestants that can run/party</label>
                    <input type="text" id="noOfContestantsPerParty" name="noOfContestantsPerParty">
                </div>
                <div>
                    <label for="dateFormed">Date Formed</label>
                    <input type="text" id="dateFormed" name="dateFormed">
                </div>
                <button type="submit" class="btn-submit">Register Party</button>
            </form>
        </div>

    </div>
    <script src="static/js/index.js"></script>
</body>

</html>