<!Doctype html>
<html>
    <head>
        <meta charset="UTF-8" >
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <title>Politico</title>
        <link rel="stylesheet" href="static/style.css">
    </head>
    <body>
        <div class="content">
            <div class="header">
                <div class="banner">
            
                </div>
            </div>
            <div class="body">
                <section class="main-content">
            
                </section>
                <div class="aside">
    
                </div>
            </div>
            <div class="footer">
                
            </div>
        </div>
    </body>
</html>