<!Doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Politico | Sign In</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>

<body>
    <div class="content">
        <header>
            <nav class="main-nav">
                <div class="logo"><a href="#">Politico</a></div>
                <ul class="nav-items">
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#">About</a>
                    </li>
                </ul>
                <ul class="signups">
                    <li>
                        <a href="#" class='btn-signup'> Sign Up</a>
                    </li>
                </ul>
            </nav>
        </header>
        <div class="main-content">
            <form action="#" method="POST" class="login-form">
                <div>
                    <h2 class="login-title">Sign In</h2>
                </div>
                <div>
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username">
                </div>
                <div>
                    <label for="password">Password</label>
                    <input type="text" id="password" name="password">
                </div>
                <button type="submit" class="btn-submit">Sign in</button>
            </form>
        </div>

    </div>
    <script src="static/js/index.js"></script>
</body>

</html>